/* Styles */

body {
 margin: 15px 25px;  
 font-family: verdana, 'open sans', sans-serif;
 justify-content: center;
}


.logo {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.line1 {
    height: 2px;
    background: #a0d6b4;
    margin-top: 10px;
  }


.cover {
    width: 900px;
    height: 500px;
    /* background-color: rgb(151, 111, 111); */ 
    margin-top: 30px;
    display: flex;
} 

.Frame {
    margin: 10px;
    padding: 15px;
    border: 1px solid #5f9ea0;
    justify-content: center;
    text-align: center;
    box-shadow: -5px 0 10px #a0d6b4;
}

.img1 {
    height: 350px;
    width: auto;
    display: flex;
}