/* Styles */

body {
    min-height: 100vh;
    font-family: verdana, 'open sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header {
    margin-top: 50px;
    display: block;

}

.logo {
    height: 200px;
}

.cover {
    /*background-color: rgb(151, 111, 111); */
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 15px;

} 

.Frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #5f9ea0;
    text-align: center;
    box-shadow: -5px 0 10px #a0d6b4;

}

.img1 {
    height: 240px;
    width: auto;
    display: flex;
}

a {
    text-decoration: none;
}

.footer {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Position: absolute;
    Bottom: 0;
    Width: 100%;
    Height: 10px;
}