/* Styles */

body {
 margin: 15px 25px;  
 font-family: verdana, 'open sans', sans-serif;
 justify-content: center;
}


.logo {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.line1 {
    height: 2px;
    margin: auto;
    background: #a0d6b4;
    margin-top: 10px;
  }


.cover {
    width: 900px;
    height: 500px;
    /* background-color: rgb(151, 111, 111); */ 
    margin-top: 30px;
    display: flex;
} 

.Frame {
    /*background-color: black;*/
    margin: 20px;
    width: 800px;
    height: 100px;
    justify-content: center;
    text-align: center;
    box-shadow: -20px 0 20px #a0d6b4;
}

.img1 {
    height: 350px;
    width: auto;
    display: flex;
}